In [24]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json
import warnings
warnings.filterwarnings('ignore')

In [2]:
# def scraping_utmb():
#     url = 'https://utmb.world/utmb-index/runner-search'
#     browsers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 \(KHTML, like Gecko) Chrome / 86.0.4240.198Safari / 537.36'}
#     page = requests.get(url, headers=browsers)

#     soup = BeautifulSoup(page.content, 'html.parser')
#     runners = soup.select('.my-table_row__nlm_j')

#     dict_names = {
#         i.find('a', attrs={'class': 'link_link__96ppl link-underline'}).text: [i.find('div', attrs={'class': 'my-table_cell__z__zN col-2'}).text,
#         str(i.find('div', attrs={'data-label': "nationality"}))[180:182],
#         i.find('div', attrs={'data-label': "Gender"}).text,
#         i.find('div', attrs={'data-label': "Age Group"}).text, 
#         'https://utmb.world/'+ str(i.find('a', attrs={'class': 'link_link__96ppl link-underline'})['href'])
#         ]
#         for i in runners
#     }

#     return dict_names

# resultado = scraping_utmb()

# df = pd.DataFrame(resultado.values(), index=resultado.keys())
# df = df.set_axis(['Posição', 'Nacionalidade', 'Gênero', 'Faixa Etária', 'Site'], axis=1)
# df

---
Selenium
---

In [3]:

# from selenium import webdriver
# from selenium.webdriver.chrome.service import Service
# from webdriver_manager.chrome import ChromeDriverManager 
# from selenium.webdriver.common.by import By
# from selenium.webdriver.support.ui import WebDriverWait
# from selenium.webdriver.support import expected_conditions as EC
# from time import sleep

# Funções

In [4]:
# def extrair_dados_pagina(driver):
#     runners = driver.find_elements(by=By.CSS_SELECTOR, value=".my-table_row__nlm_j")
    
#     dict_names = {}
#     for runner in runners:
#         name = runner.find_element(by=By.XPATH, value="//a[@class='link_link__96ppllink-underline']").text
#         nationality = runner.find_element(by=By.XPATH, value="//div[@class='index-ranking-table_cell_nationality__Pskf9 my-table_cell__z__zN col-2 my-table_hide_mobile__t6aJD']").text
#         gender = runner.find_element(by=By.XPATH, value="//a[@class='index-ranking-table_cell_gender__svRts my-table_cell__z__zN col-2 my-table_hide_mobile__t6aJD']").text
#         age_group = runner.find_element(by=By.XPATH, value="//a[@class='index-ranking-table_cell_age_group__WOVLq my-table_cell__z__zN col-2 my-table_hide_mobile__t6aJD']").text
#         link = runner.find_element(by=By.XPATH, value="//a[@href='.link_link__96ppl.link-underline]").text
        
#         dict_names[name] = [nationality, gender, age_group, link]

#     return dict_names

In [5]:
# service = Service(ChromeDriverManager().install())
# driver = webdriver.Chrome(service=service)

# driver.get(url='https://utmb.world/utmb-index/runner-search')

# accept = driver.find_element(by=By.ID, value="onetrust-accept-btn-handler")
# accept.click()

# parameters = driver.find_elements(by=By.XPATH, value="//div[@class='index-ranking-table_cell_nationality__Pskf9 my-table_cell__z__zN col-2 my-table_hide_mobile__t6aJD']")
# parameter = parameters[10]
# nacionalidade_button = driver.find_element(by=By.XPATH, value="//button[@aria-controls='menu--7']")
# driver.execute_script("arguments[0].scrollIntoView();", parameter)
# wait = WebDriverWait(driver, 10)
# wait.until(EC.visibility_of_element_located((By.XPATH, "//div[@class='index-ranking-table_cell_nationality__Pskf9 my-table_cell__z__zN col-2 my-table_hide_mobile__t6aJD']")))
# nacionalidade_button.click() 

# brazil_option = driver.find_element(by=By.XPATH, value="//div[@id='option-27--menu--7']")
# brazil_option.click()

# current_page_data = extrair_dados_pagina(driver)

# #next = driver.find_elements(by=By.TAG_NAME, value="a")
# #proximo = next[98].get_attribute('aria-label')
# #proximo.click()"

# Extraindo dados pelo JSON da API

In [6]:
with open('runnersbrasileiros.json', 'r') as f:
    data = json.load(f)

runners_list = data['runners']

new_data = [{'id': runner['id'], 
             'fullname': runner['fullname'], 
             'ageGroup': runner['ageGroup'],
             'uri': runner['uri'],
             'sex': runner['sex'],
             'ip': runner['ip']} 
            for runner in runners_list]

df = pd.DataFrame(new_data)
df

,id,fullname,ageGroup,uri,sex,ip
0,1359763,Rogerio SILVESTRIN,35-39,1359763.rogerio.silvestrin,H,852
1,2623403,Wellington ROBERTO NORONHA,35-39,2623403.wellington.robertonoronha,H,830
2,395551,Celio AUGUSTO ROSA,45-49,395551.celio.augustorosa,H,824
3,5027328,Johnny LUNA LIMA,20-34,5027328.johnny.lunalima,H,814
4,5268870,Cordeiro Valdenir JANDOSA,45-49,5268870.cordeirovaldenir.jandosa,H,807
...,...,...,...,...,...,...
36430,5878517,Fabiane SILVA,20-34,5878517.fabiane.silva,F,0
36431,5878579,ROGERIO SOUZA,45-49,5878579.rogerio.souza,H,0
36432,5878599,Gleidson ANDRADE,20-34,5878599.gleidson.andrade,H,0
36433,5878635,Luciano Antônio RIBEIRO,35-39,5878635.lucianoantonio.ribeiro,H,0
36434,5878653,Pablo Gelabert Simonetti,50-54,5878653.pablo.gelabertsimonetti,H,0

# Extraindo dados direto da API

In [7]:
url_utmb_brazil = 'https://api.utmb.world/search/runners?category=general&sex=&ageGroup=&nationality=BR&limit=1000000&offset=0&search='

runners = requests.get(url_utmb_brazil)
runners_br_df = pd.DataFrame(runners.json() ["runners"])
runners_br_df

,id,ageGroup,fullname,uri,ip,nationality,sex,picture
0,1359763,35-39,Rogerio SILVESTRIN,1359763.rogerio.silvestrin,856,BR,H,None
1,2623403,35-39,Wellington ROBERTO NORONHA,2623403.wellington.robertonoronha,830,BR,H,worldseries/Members/c57878f6-56e2-4697-a961-35...
2,395551,45-49,Celio AUGUSTO ROSA,395551.celio.augustorosa,827,BR,H,None
3,5027328,20-34,Johnny LUNA-LIMA,5027328.johnny.lunalima,814,BR,H,None
4,5268870,45-49,Cordeiro Valdenir JANDOSA,5268870.cordeirovaldenir.jandosa,807,BR,H,None
...,...,...,...,...,...,...,...,...
36656,5880085,20-34,Pedro SIMÕES PIÃO NETO,5880085.pedro.simoespiaoneto,0,BR,H,None
36657,5880087,55-59,Flavia MAXIMO,5880087.flavia.maximo,0,BR,F,None
36658,5880435,55-59,Vivienne BOZELLI,5880435.vivienne.bozelli,0,BR,F,None
36659,5881227,20-34,RENATO NUNES,5881227.renato.nunes,0,BR,H,None
36660,5881719,50-54,Clodoaldo PASQUINI,5881719.clodoaldo.pasquini,0,BR,H,None

In [25]:
for i in range(len(runners_br_df.uri)):
    runners_br_df.uri[i] = 'https://utmb.world/en/runner/' + runners_br_df.uri[i]

In [21]:
runners_br_df

,id,ageGroup,fullname,uri,ip,nationality,sex,picture
0,1359763,35-39,Rogerio SILVESTRIN,https://utmb.world/en/runner/1359763.rogerio.s...,856,BR,H,None
1,2623403,35-39,Wellington ROBERTO NORONHA,https://utmb.world/en/runner/2623403.wellingto...,830,BR,H,worldseries/Members/c57878f6-56e2-4697-a961-35...
2,395551,45-49,Celio AUGUSTO ROSA,https://utmb.world/en/runner/395551.celio.augu...,827,BR,H,None
3,5027328,20-34,Johnny LUNA-LIMA,https://utmb.world/en/runner/5027328.johnny.lu...,814,BR,H,None
4,5268870,45-49,Cordeiro Valdenir JANDOSA,https://utmb.world/en/runner/5268870.cordeirov...,807,BR,H,None
...,...,...,...,...,...,...,...,...
36656,5880085,20-34,Pedro SIMÕES PIÃO NETO,https://utmb.world/en/runner/5880085.pedro.sim...,0,BR,H,None
36657,5880087,55-59,Flavia MAXIMO,https://utmb.world/en/runner/5880087.flavia.ma...,0,BR,F,None
36658,5880435,55-59,Vivienne BOZELLI,https://utmb.world/en/runner/5880435.vivienne....,0,BR,F,None
36659,5881227,20-34,RENATO NUNES,https://utmb.world/en/runner/5881227.renato.nunes,0,BR,H,None
36660,5881719,50-54,Clodoaldo PASQUINI,https://utmb.world/en/runner/5881719.clodoaldo...,0,BR,H,None

In [14]:
from corredores import corredor_info, corredor_corridas