In [67]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json
import warnings
warnings.filterwarnings('ignore')
from corredores import infos
import sqlalchemy as db

# Extraindo dados direto da API

In [65]:
url_utmb_brazil = 'https://api.utmb.world/search/runners?category=general&sex=&ageGroup=&nationality=BR&limit=1000000&offset=0&search='

runners = requests.get(url_utmb_brazil)
runners_br_df = pd.DataFrame(runners.json() ["runners"])
runners_br_df = runners_br_df.drop(columns=['picture'])
runners_br_df

,id,ageGroup,fullname,uri,ip,nationality,sex
0,1359763,35-39,Rogerio SILVESTRIN,1359763.rogerio.silvestrin,855,BR,H
1,2623403,35-39,Wellington ROBERTO NORONHA,2623403.wellington.robertonoronha,828,BR,H
2,395551,45-49,Celio AUGUSTO ROSA,395551.celio.augustorosa,826,BR,H
3,5027328,20-34,Johnny LUNA-LIMA,5027328.johnny.lunalima,814,BR,H
4,5268870,45-49,Cordeiro Valdenir JANDOSA,5268870.cordeirovaldenir.jandosa,807,BR,H
...,...,...,...,...,...,...,...
36833,5912949,35-39,Rodrigo Pereira Mazziero,5912949.rodrigo.pereiramazziero,0,BR,H
36834,5914009,35-39,Leilane SPEROTO,5914009.leilane.speroto,0,BR,F
36835,5914775,20-34,JULIA ALMEIDA,5914775.julia.almeida,0,BR,F
36836,5914787,20-34,André GUIMARÃES,5914787.andre.guimaraes,0,BR,H
36837,5924251,40-44,Danilo GRIMALDI FILHO,5924251.danilo.grimaldifilho,0,BR,H

In [68]:
dic = runners.json()["runners"][0]
del dic['picture']
del dic['ip']
dic.update(infos(runners_br_df['uri'][0]))
dic

{'id': 1359763,
 'ageGroup': '35-39',
 'fullname': 'Rogerio SILVESTRIN',
 'uri': '1359763.rogerio.silvestrin',
 'nationality': 'BR',
 'sex': 'H',
 'Club': 'Go On Outdoor',
 'Team': 'Go On Outdoor',
 'Sponsor(s)': 'Go On Outdoor',
 'Description': None,
 'Geral': '855',
 '20K': None,
 '50K': '854',
 '100K': '826',
 '100m': None}

In [83]:
engine = db.create_engine('sqlite:///utmb.sqlite', connect_args={'timeout': 15})
connection = engine.connect()
metadata = db.MetaData()

In [84]:
corredores = db.Table('corredores', metadata,
                        db.Column('id', db.Integer(), primary_key=True),
                        db.Column('ageGroup', db.String(255)),
                        db.Column('fullname', db.String(255)),
                        db.Column('uri', db.String(255)),
                        db.Column('nationality', db.String(255)),
                        db.Column('sex', db.String(255)),
                        db.Column('Club', db.String(255)),
                        db.Column('Team', db.String(255)),
                        db.Column('Sponsor(s)', db.String(255)),
                        db.Column('Description', db.String(255)),
                        db.Column('Geral', db.String(255)),
                        db.Column('20K', db.String(255)),
                        db.Column('50K', db.String(255)),
                        db.Column('100K', db.String(255)),
                        db.Column('100m', db.String(255)))

metadata.create_all(engine)

In [85]:
query = db.insert(corredores)
ResultProxy = connection.execute(query)

In [86]:
dic

# Inserir dic no banco de dados 'corredores'

{'id': 1359763,
 'ageGroup': '35-39',
 'fullname': 'Rogerio SILVESTRIN',
 'uri': '1359763.rogerio.silvestrin',
 'nationality': 'BR',
 'sex': 'H',
 'Club': 'Go On Outdoor',
 'Team': 'Go On Outdoor',
 'Sponsor(s)': 'Go On Outdoor',
 'Description': None,
 'Geral': '855',
 '20K': None,
 '50K': '854',
 '100K': '826',
 '100m': None}